mariadb
python-dotenv
SQLAlchemy
alembic
pandas
numpy
xmltodict
pyOpenSSL
certifi
pycryptodome
requests
reportlab
xhtml2pdf
python-dateutil
pycpfcnpj
validators
loguru
colorlog
pytest
pytest-mock
pytest-cov
faker
tabulate
openpyxl
matplotlib
pyinstaller
tqdm